<head>
    <meta charset="utf-8"/>
    <title>Dashboard | Upcube - Admin & Dashboard Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description"/>
    <meta content="Themesdesign" name="author"/>
    <!-- App favicon -->
    <link rel="shortcut icon" th:src="@{/backend/assets/images/favicon.ico}">

    <!-- jquery.vectormap css -->
    <link rel="stylesheet" th:href="@{/backend/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css}" type="text/css"/>

    <!-- DataTables -->
    <link rel="stylesheet" th:href="@{/backend/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css}" type="text/css"/>

    <!-- Responsive datatable examples -->
    <link rel="stylesheet" th:href="@{/backend/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css}" type="text/css"/>

    <!-- Bootstrap Css -->
    <link id="bootstrap-style" rel="stylesheet" th:href="@{/backend/assets/css/bootstrap.min.css}" type="text/css"/>
    <!-- Icons Css -->
    <link rel="stylesheet" th:href="@{/backend/assets/css/icons.min.css}" type="text/css"/>
    <!-- App Css-->
    <link id="app-style" rel="stylesheet" th:href="@{/backend/assets/css/app.min.css}" type="text/css"/>

    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css}" type="text/css">
</head>
