<html xmlns:th="http://www.thymeleaf.org">
<div class="vertical-menu">

    <div class="h-100" data-simplebar>

        <!-- User details -->
        <div class="user-profile text-center mt-3">
            <div class="">
                <img alt="" class="avatar-md rounded-circle" th:src="@{/backend/assets/images/users/avatar-1.jpg}">
            </div>
            <div class="mt-3">
                <h4 class="font-size-16 mb-1">Julia Hudda</h4>
                <span class="text-muted"><i class="ri-record-circle-line align-middle font-size-14 text-success"></i> Online</span>
            </div>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li>
                    <a class="waves-effect" th:href="@{/admin}">
                        <!--                        <i class="ri-dashboard-line"></i><span class="badge rounded-pill bg-success float-end">3</span>-->
                        <span>Dashboard</span>
                    </a>
                </li>

                <li>
                    <a class="has-arrow waves-effect" href="javascript: void(0);">
                        <i class="ri-mail-send-line"></i>
                        <span>Users</span>
                    </a>
                    <ul aria-expanded="false" class="sub-menu">
                        <li><a th:href="@{/admin/users}">All Users</a></li>
                        <li><a th:href="@{/admin/users/create-form}">Add User</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect" href="javascript: void(0);">
                        <i class="ri-mail-send-line"></i>
                        <span>Categories</span>
                    </a>
                    <ul aria-expanded="false" class="sub-menu">
                        <li><a th:href="@{/admin/categories}">All Categories</a></li>
                        <li><a th:href="@{/admin/categories/create}">Add New Category</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect" href="javascript: void(0);">
                        <i class="ri-mail-send-line"></i>
                        <span>Products</span>
                    </a>
                    <ul aria-expanded="false" class="sub-menu">
                        <li><a href="email-inbox.html">All Products</a></li>
                        <li><a href="email-read.html">Add New Product</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect" href="javascript: void(0);">
                        <i class="ri-mail-send-line"></i>
                        <span>Customers</span>
                    </a>
                    <ul aria-expanded="false" class="sub-menu">
                        <li><a href="email-inbox.html">All Customers</a></li>
                        <li><a href="email-read.html">Add New Customer</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect" href="javascript: void(0);">
                        <i class="ri-mail-send-line"></i>
                        <span>Shipping</span>
                    </a>
                    <ul aria-expanded="false" class="sub-menu">
                        <li><a href="email-inbox.html">All Shippings</a></li>
                        <li><a href="email-read.html">Add New Shipping</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect" href="javascript: void(0);">
                        <i class="ri-mail-send-line"></i>
                        <span>Orders</span>
                    </a>
                    <ul aria-expanded="false" class="sub-menu">
                        <li><a href="email-inbox.html">All Orders</a></li>
                        <li><a href="email-read.html">Add New Order</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect" href="javascript: void(0);">
                        <i class="ri-mail-send-line"></i>
                        <span>Sales Report</span>
                    </a>
                    <ul aria-expanded="false" class="sub-menu">
                        <li><a href="email-inbox.html">All Sales Reports</a></li>
                        <li><a href="email-read.html">Add New Sale Report</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect" href="javascript: void(0);">
                        <i class="ri-mail-send-line"></i>
                        <span>Articles</span>
                    </a>
                    <ul aria-expanded="false" class="sub-menu">
                        <li><a href="email-inbox.html">All Articles</a></li>
                        <li><a href="email-read.html">Add New Article</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect" href="javascript: void(0);">
                        <i class="ri-mail-send-line"></i>
                        <span>Menus</span>
                    </a>
                    <ul aria-expanded="false" class="sub-menu">
                        <li><a href="email-inbox.html">All Menus</a></li>
                        <li><a href="email-read.html">Add New Menu</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect" href="javascript: void(0);">
                        <i class="ri-mail-send-line"></i>
                        <span>Brands</span>
                    </a>
                    <ul aria-expanded="false" class="sub-menu">
                        <li><a href="email-inbox.html">All Brands</a></li>
                        <li><a href="email-read.html">Add New Brand</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect" href="javascript: void(0);">
                        <i class="ri-mail-send-line"></i>
                        <span>Settings</span>
                    </a>
                    <ul aria-expanded="false" class="sub-menu">
                        <li><a href="email-inbox.html">All Settings</a></li>
                        <li><a href="email-read.html">Add New Setting</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>