<div class="options">
    <div class="panel"><a class="panel-title" data-id="201" href="javascript:void(0)">South Africa</a>
        <ul class="size-s">
            <li class="">
                <a data-id="201" href="javascript:void(0)">

                    All South Africa

                </a>
            </li>
            <li class="">
                <a data-id="3100197" href="javascript:void(0)">

                    Eastern Cape
                    <span class="fticon-right-arrow"></span>
                </a>
                <div class="panel"><a class="panel-title" data-id="3100197" href="javascript:void(0)">Eastern Cape</a>
                    <ul class="size-xl">
                        <li>
                            <a data-id="3100611" href="javascript:void(0)">

                                Adelaide

                            </a>
                        </li>
                        <li>
                            <a data-id="3100612" href="javascript:void(0)">

                                Alice

                            </a>
                        </li>
                        <li>
                            <a data-id="3100610" href="javascript:void(0)">

                                Aliwal North

                            </a>
                        </li>
                        <li>
                            <a data-id="3100613" href="javascript:void(0)">

                                Barkly East

                            </a>
                        </li>
                        <li>
                            <a data-id="3100778" href="javascript:void(0)">

                                Bathurst

                            </a>
                        </li>
                        <li>
                            <a data-id="3100299" href="javascript:void(0)">

                                Bhisho

                            </a>
                        </li>
                        <li>
                            <a data-id="3100614" href="javascript:void(0)">

                                Bizana

                            </a>
                        </li>
                        <li>
                            <a data-id="3100615" href="javascript:void(0)">

                                Burgersdorp

                            </a>
                        </li>
                        <li>
                            <a data-id="3100616" href="javascript:void(0)">

                                Butterworth

                            </a>
                        </li>
                        <li>
                            <a data-id="3100794" href="javascript:void(0)">

                                Cathcat

                            </a>
                        </li>
                        <li>
                            <a data-id="3100474" href="javascript:void(0)">

                                Coffee Bay

                            </a>
                        </li>
                        <li>
                            <a data-id="3100470" href="javascript:void(0)">

                                Cradock

                            </a>
                        </li>
                        <li>
                            <a data-id="3100697" href="javascript:void(0)">

                                Despatch

                            </a>
                        </li>
                        <li>
                            <a data-id="3100300" href="javascript:void(0)">

                                East London

                            </a>
                        </li>
                        <li>
                            <a data-id="3100617" href="javascript:void(0)">

                                Elliot

                            </a>
                        </li>
                        <li>
                            <a data-id="3100618" href="javascript:void(0)">

                                Flagstaff

                            </a>
                        </li>
                        <li>
                            <a data-id="3100619" href="javascript:void(0)">

                                Fort Beaufort

                            </a>
                        </li>
                        <li>
                            <a data-id="3100620" href="javascript:void(0)">

                                Graaff-Reinet

                            </a>
                        </li>
                        <li>
                            <a data-id="3100471" href="javascript:void(0)">

                                Grahamstown

                            </a>
                        </li>
                        <li>
                            <a data-id="3100698" href="javascript:void(0)">

                                Hogsback

                            </a>
                        </li>
                        <li>
                            <a data-id="3100621" href="javascript:void(0)">

                                Jansenville

                            </a>
                        </li>
                        <li>
                            <a data-id="3100301" href="javascript:void(0)">

                                Jeffreys Bay

                            </a>
                        </li>
                        <li>
                            <a data-id="3100622" href="javascript:void(0)">

                                Kareedouw

                            </a>
                        </li>
                        <li>
                            <a data-id="3100791" href="javascript:void(0)">

                                Kenton on Sea

                            </a>
                        </li>
                        <li>
                            <a data-id="3100700" href="javascript:void(0)">

                                King WilliamsTown

                            </a>
                        </li>
                        <li>
                            <a data-id="3100623" href="javascript:void(0)">

                                Kirkwood

                            </a>
                        </li>
                        <li>
                            <a data-id="3100699" href="javascript:void(0)">

                                Matatiele

                            </a>
                        </li>
                        <li>
                            <a data-id="3100302" href="javascript:void(0)">

                                Mdantsane

                            </a>
                        </li>
                        <li>
                            <a data-id="3100624" href="javascript:void(0)">

                                Middelburg

                            </a>
                        </li>
                        <li>
                            <a data-id="3100604" href="javascript:void(0)">

                                Other Eastern Cape

                            </a>
                        </li>
                        <li>
                            <a data-id="3100625" href="javascript:void(0)">

                                Port Alfred

                            </a>
                        </li>
                        <li>
                            <a data-id="3100306" href="javascript:void(0)">

                                Port Elizabeth

                            </a>
                        </li>
                        <li>
                            <a data-id="3100475" href="javascript:void(0)">

                                Port St Johns

                            </a>
                        </li>
                        <li>
                            <a data-id="3100303" href="javascript:void(0)">

                                Queenstown

                            </a>
                        </li>
                        <li>
                            <a data-id="3100626" href="javascript:void(0)">

                                Somerset East

                            </a>
                        </li>
                        <li>
                            <a data-id="3100696" href="javascript:void(0)">

                                St Francis Bay

                            </a>
                        </li>
                        <li>
                            <a data-id="3100627" href="javascript:void(0)">

                                Stutterheim

                            </a>
                        </li>
                        <li>
                            <a data-id="3100472" href="javascript:void(0)">

                                Uitenhage

                            </a>
                        </li>
                        <li>
                            <a data-id="3100473" href="javascript:void(0)">

                                Umtata / Mthatha

                            </a>
                        </li>
                        <li>
                            <a data-id="3100628" href="javascript:void(0)">

                                Willowmore

                            </a>
                        </li>
                        <li>
                            <a data-id="3100476" href="javascript:void(0)">

                                Willowvale

                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="">
                <a data-id="3100236" href="javascript:void(0)">

                    Free State
                    <span class="fticon-right-arrow"></span>
                </a>
                <div class="panel"><a class="panel-title" data-id="3100236" href="javascript:void(0)">Free State</a>
                    <ul class="size-xl">
                        <li>
                            <a data-id="3100456" href="javascript:void(0)">

                                Bethlehem

                            </a>
                        </li>
                        <li>
                            <a data-id="3100460" href="javascript:void(0)">

                                Bloemfontein

                            </a>
                        </li>
                        <li>
                            <a data-id="3100629" href="javascript:void(0)">

                                Botshabelo

                            </a>
                        </li>
                        <li>
                            <a data-id="3100630" href="javascript:void(0)">

                                Brandfort

                            </a>
                        </li>
                        <li>
                            <a data-id="3100695" href="javascript:void(0)">

                                Bultfontein

                            </a>
                        </li>
                        <li class="">
                            <a data-id="3100631" href="javascript:void(0)">

                                Clocolan

                            </a>
                        </li>
                        <li>
                            <a data-id="3100632" href="javascript:void(0)">

                                Deneysville

                            </a>
                        </li>
                        <li>
                            <a data-id="3100703" href="javascript:void(0)">

                                Ficksburg

                            </a>
                        </li>
                        <li>
                            <a data-id="3100633" href="javascript:void(0)">

                                Frankfort

                            </a>
                        </li>
                        <li>
                            <a data-id="3100457" href="javascript:void(0)">

                                Harrismith

                            </a>
                        </li>
                        <li>
                            <a data-id="3100634" href="javascript:void(0)">

                                Heilbron

                            </a>
                        </li>
                        <li>
                            <a data-id="3100635" href="javascript:void(0)">

                                Hennenman

                            </a>
                        </li>
                        <li>
                            <a data-id="3100636" href="javascript:void(0)">

                                Hoopstad

                            </a>
                        </li>
                        <li>
                            <a data-id="3100637" href="javascript:void(0)">

                                Koffiefontein

                            </a>
                        </li>
                        <li>
                            <a data-id="3100638" href="javascript:void(0)">

                                Koppies

                            </a>
                        </li>
                        <li>
                            <a data-id="3100464" href="javascript:void(0)">

                                Kroonstad

                            </a>
                        </li>
                        <li>
                            <a data-id="3100639" href="javascript:void(0)">

                                Ladybrand

                            </a>
                        </li>
                        <li>
                            <a data-id="3100704" href="javascript:void(0)">

                                Memel

                            </a>
                        </li>
                        <li>
                            <a data-id="3100606" href="javascript:void(0)">

                                Other Free State

                            </a>
                        </li>
                        <li class="">
                            <a data-id="3100465" href="javascript:void(0)">

                                Parys

                            </a>
                        </li>
                        <li>
                            <a data-id="3100640" href="javascript:void(0)">

                                Phuthaditjhaba

                            </a>
                        </li>
                        <li>
                            <a data-id="3100641" href="javascript:void(0)">

                                Reitz

                            </a>
                        </li>
                        <li>
                            <a data-id="3100466" href="javascript:void(0)">

                                Sasolburg

                            </a>
                        </li>
                        <li>
                            <a data-id="3100458" href="javascript:void(0)">

                                Senekal

                            </a>
                        </li>
                        <li>
                            <a data-id="3100461" href="javascript:void(0)">

                                Springfontein

                            </a>
                        </li>
                        <li>
                            <a data-id="3100462" href="javascript:void(0)">

                                Thaba 'Nchu

                            </a>
                        </li>
                        <li>
                            <a data-id="3100642" href="javascript:void(0)">

                                Theunissen

                            </a>
                        </li>
                        <li>
                            <a data-id="3100643" href="javascript:void(0)">

                                Viljoenskroon

                            </a>
                        </li>
                        <li>
                            <a data-id="3100468" href="javascript:void(0)">

                                Virginia

                            </a>
                        </li>
                        <li>
                            <a data-id="3100644" href="javascript:void(0)">

                                Vrede

                            </a>
                        </li>
                        <li>
                            <a data-id="3100645" href="javascript:void(0)">

                                Vredefort

                            </a>
                        </li>
                        <li>
                            <a data-id="3100469" href="javascript:void(0)">

                                Welkom

                            </a>
                        </li>
                        <li>
                            <a data-id="3100646" href="javascript:void(0)">

                                Wesselsbron

                            </a>
                        </li>
                        <li>
                            <a data-id="3100647" href="javascript:void(0)">

                                Winburg

                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="">
                <a data-id="3100003" href="javascript:void(0)">

                    Gauteng
                    <span class="fticon-right-arrow"></span>
                </a>
                <div class="panel"><a class="panel-title" data-id="3100003" href="javascript:void(0)">Gauteng</a>
                    <ul class="size-s">
                        <li>
                            <a data-id="3100250" href="javascript:void(0)">

                                East Rand

                            </a>
                        </li>
                        <li>
                            <a data-id="3100090" href="javascript:void(0)">

                                Johannesburg

                            </a>
                        </li>
                        <li>
                            <a data-id="3100094" href="javascript:void(0)">

                                Pretoria / Tshwane

                            </a>
                        </li>
                        <li>
                            <a data-id="3100095" href="javascript:void(0)">

                                Sedibeng

                            </a>
                        </li>
                        <li>
                            <a data-id="3100251" href="javascript:void(0)">

                                West Rand

                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="">
                <a data-id="3100002" href="javascript:void(0)">

                    KwaZulu-Natal
                    <span class="fticon-right-arrow"></span>
                </a>
                <div class="panel"><a class="panel-title" data-id="3100002" href="javascript:void(0)">KwaZulu-Natal</a>
                    <ul class="size-s">
                        <li>
                            <a data-id="3100185" href="javascript:void(0)">

                                Drakensberg

                            </a>
                        </li>
                        <li>
                            <a data-id="3100149" href="javascript:void(0)">

                                Durban City

                            </a>
                        </li>
                        <li>
                            <a data-id="3100184" href="javascript:void(0)">

                                Midlands

                            </a>
                        </li>
                        <li>
                            <a data-id="3100181" href="javascript:void(0)">

                                North Coast

                            </a>
                        </li>
                        <li>
                            <a data-id="3100158" href="javascript:void(0)">

                                North Suburbs

                            </a>
                        </li>
                        <li>
                            <a data-id="3100182" href="javascript:void(0)">

                                South Coast (Ugu)

                            </a>
                        </li>
                        <li>
                            <a data-id="3100166" href="javascript:void(0)">

                                South Suburbs

                            </a>
                        </li>
                        <li>
                            <a data-id="3100172" href="javascript:void(0)">

                                West Suburbs

                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="">
                <a data-id="3100223" href="javascript:void(0)">

                    Limpopo
                    <span class="fticon-right-arrow"></span>
                </a>
                <div class="panel"><a class="panel-title" data-id="3100223" href="javascript:void(0)">Limpopo</a>
                    <ul class="size-l">
                        <li>
                            <a data-id="3100677" href="javascript:void(0)">

                                Bela-Bela / Warmbad

                            </a>
                        </li>
                        <li>
                            <a data-id="3100600" href="javascript:void(0)">

                                Dendron

                            </a>
                        </li>
                        <li>
                            <a data-id="3100678" href="javascript:void(0)">

                                Giyani

                            </a>
                        </li>
                        <li>
                            <a data-id="3100706" href="javascript:void(0)">

                                Hoedspruit

                            </a>
                        </li>
                        <li>
                            <a data-id="3100679" href="javascript:void(0)">

                                Lebowakgomo

                            </a>
                        </li>
                        <li>
                            <a data-id="3100680" href="javascript:void(0)">

                                Lephalale / Ellisras

                            </a>
                        </li>
                        <li>
                            <a data-id="3100389" href="javascript:void(0)">

                                Louis Trichardt

                            </a>
                        </li>
                        <li>
                            <a data-id="3100681" href="javascript:void(0)">

                                Lulekani

                            </a>
                        </li>
                        <li>
                            <a data-id="3100682" href="javascript:void(0)">

                                Mankweng

                            </a>
                        </li>
                        <li>
                            <a data-id="3100683" href="javascript:void(0)">

                                Marblehall

                            </a>
                        </li>
                        <li>
                            <a data-id="3100225" href="javascript:void(0)">

                                Modimolle / Nylstroom

                            </a>
                        </li>
                        <li>
                            <a data-id="3100684" href="javascript:void(0)">

                                Modjadji / Duiwelskloof

                            </a>
                        </li>
                        <li>
                            <a data-id="3100685" href="javascript:void(0)">

                                Mokopane / Potgietersrus

                            </a>
                        </li>
                        <li>
                            <a data-id="3100224" href="javascript:void(0)">

                                Musina / Messina

                            </a>
                        </li>
                        <li class="">
                            <a data-id="3100686" href="javascript:void(0)">

                                Mutale

                            </a>
                        </li>
                        <li class="">
                            <a data-id="3100687" href="javascript:void(0)">

                                Nkowankowa

                            </a>
                        </li>
                        <li>
                            <a data-id="3100567" href="javascript:void(0)">

                                Other Limpopo

                            </a>
                        </li>
                        <li>
                            <a data-id="3100387" href="javascript:void(0)">

                                Phalaborwa

                            </a>
                        </li>
                        <li>
                            <a data-id="3100226" href="javascript:void(0)">

                                Polokwane / Pietersburg

                            </a>
                        </li>
                        <li>
                            <a data-id="3100688" href="javascript:void(0)">

                                Soekmekaar

                            </a>
                        </li>
                        <li>
                            <a data-id="3100689" href="javascript:void(0)">

                                Thabazimbi

                            </a>
                        </li>
                        <li>
                            <a data-id="3100690" href="javascript:void(0)">

                                Thohoyandou

                            </a>
                        </li>
                        <li>
                            <a data-id="3100691" href="javascript:void(0)">

                                Thulamela

                            </a>
                        </li>
                        <li>
                            <a data-id="3100388" href="javascript:void(0)">

                                Tzaneen

                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="">
                <a data-id="3100227" href="javascript:void(0)">

                    Mpumalanga
                    <span class="fticon-right-arrow"></span>
                </a>
                <div class="panel"><a class="panel-title" data-id="3100227" href="javascript:void(0)">Mpumalanga</a>
                    <ul class="size-xl">
                        <li>
                            <a data-id="3100397" href="javascript:void(0)">

                                Balfour

                            </a>
                        </li>
                        <li>
                            <a data-id="3100391" href="javascript:void(0)">

                                Barberton

                            </a>
                        </li>
                        <li>
                            <a data-id="3100398" href="javascript:void(0)">

                                Bethal

                            </a>
                        </li>
                        <li>
                            <a data-id="3100648" href="javascript:void(0)">

                                Breyten

                            </a>
                        </li>
                        <li>
                            <a data-id="3100392" href="javascript:void(0)">

                                Bushbuckridge

                            </a>
                        </li>
                        <li>
                            <a data-id="3100649" href="javascript:void(0)">

                                Carolina

                            </a>
                        </li>
                        <li>
                            <a data-id="3100399" href="javascript:void(0)">

                                Delmas

                            </a>
                        </li>
                        <li>
                            <a data-id="3100406" href="javascript:void(0)">

                                Dullstroom

                            </a>
                        </li>
                        <li>
                            <a data-id="3100650" href="javascript:void(0)">

                                Ekangala

                            </a>
                        </li>
                        <li>
                            <a data-id="3100405" href="javascript:void(0)">

                                eMakhazeni / Belfast

                            </a>
                        </li>
                        <li>
                            <a data-id="3100651" href="javascript:void(0)">

                                Embalenhle

                            </a>
                        </li>
                        <li>
                            <a data-id="3100652" href="javascript:void(0)">

                                Empuluzi

                            </a>
                        </li>
                        <li>
                            <a data-id="3100416" href="javascript:void(0)">

                                Ermelo

                            </a>
                        </li>
                        <li>
                            <a data-id="3100400" href="javascript:void(0)">

                                Greylingstad

                            </a>
                        </li>
                        <li>
                            <a data-id="3100653" href="javascript:void(0)">

                                Groblersdal

                            </a>
                        </li>
                        <li>
                            <a data-id="3100393" href="javascript:void(0)">

                                Hazyview

                            </a>
                        </li>
                        <li>
                            <a data-id="3100415" href="javascript:void(0)">

                                Hendrina

                            </a>
                        </li>
                        <li>
                            <a data-id="3100654" href="javascript:void(0)">

                                Komatipoort

                            </a>
                        </li>
                        <li>
                            <a data-id="3100401" href="javascript:void(0)">

                                Kriel

                            </a>
                        </li>
                        <li>
                            <a data-id="3100655" href="javascript:void(0)">

                                KwaNgema

                            </a>
                        </li>
                        <li>
                            <a data-id="3100656" href="javascript:void(0)">

                                Leslie / Lebogang

                            </a>
                        </li>
                        <li>
                            <a data-id="3100407" href="javascript:void(0)">

                                Lydenburg

                            </a>
                        </li>
                        <li>
                            <a data-id="3100408" href="javascript:void(0)">

                                Machadodorp

                            </a>
                        </li>
                        <li>
                            <a data-id="3100394" href="javascript:void(0)">

                                Malelane

                            </a>
                        </li>
                        <li>
                            <a data-id="3100395" href="javascript:void(0)">

                                Mbombela / Nelspruit

                            </a>
                        </li>
                        <li>
                            <a data-id="3100305" href="javascript:void(0)">

                                Middelburg

                            </a>
                        </li>
                        <li>
                            <a data-id="3100409" href="javascript:void(0)">

                                New-Location

                            </a>
                        </li>
                        <li>
                            <a data-id="3100657" href="javascript:void(0)">

                                Ogies / Phola

                            </a>
                        </li>
                        <li>
                            <a data-id="3100605" href="javascript:void(0)">

                                Other Mpumalanga

                            </a>
                        </li>
                        <li>
                            <a data-id="3100417" href="javascript:void(0)">

                                Piet Retief

                            </a>
                        </li>
                        <li>
                            <a data-id="3100410" href="javascript:void(0)">

                                Sabie

                            </a>
                        </li>
                        <li>
                            <a data-id="3100402" href="javascript:void(0)">

                                Secunda

                            </a>
                        </li>
                        <li>
                            <a data-id="3100658" href="javascript:void(0)">

                                Siyabuswa

                            </a>
                        </li>
                        <li>
                            <a data-id="3100403" href="javascript:void(0)">

                                Standerton

                            </a>
                        </li>
                        <li>
                            <a data-id="3100705" href="javascript:void(0)">

                                Trichardt

                            </a>
                        </li>
                        <li>
                            <a data-id="3100418" href="javascript:void(0)">

                                Volksrust

                            </a>
                        </li>
                        <li>
                            <a data-id="3100419" href="javascript:void(0)">

                                Wakkerstroom

                            </a>
                        </li>
                        <li>
                            <a data-id="3100404" href="javascript:void(0)">

                                Witbank

                            </a>
                        </li>
                        <li>
                            <a data-id="3100396" href="javascript:void(0)">

                                Witrivier

                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="">
                <a data-id="3100213" href="javascript:void(0)">

                    Northern Cape
                    <span class="fticon-right-arrow"></span>
                </a>
                <div class="panel"><a class="panel-title" data-id="3100213" href="javascript:void(0)">Northern Cape</a>
                    <ul class="size-xl">
                        <li>
                            <a data-id="3100702" href="javascript:void(0)">

                                Aggeneys

                            </a>
                        </li>
                        <li>
                            <a data-id="3100494" href="javascript:void(0)">

                                Alexander Bay

                            </a>
                        </li>
                        <li>
                            <a data-id="3100486" href="javascript:void(0)">

                                Barkly West

                            </a>
                        </li>
                        <li>
                            <a data-id="3100491" href="javascript:void(0)">

                                Beeshoek

                            </a>
                        </li>
                        <li>
                            <a data-id="3100478" href="javascript:void(0)">

                                Calvinia

                            </a>
                        </li>
                        <li>
                            <a data-id="3100664" href="javascript:void(0)">

                                Carnarvon

                            </a>
                        </li>
                        <li>
                            <a data-id="3100482" href="javascript:void(0)">

                                Colesberg

                            </a>
                        </li>
                        <li>
                            <a data-id="3100497" href="javascript:void(0)">

                                Danielskuil

                            </a>
                        </li>
                        <li>
                            <a data-id="3100483" href="javascript:void(0)">

                                De Aar

                            </a>
                        </li>
                        <li>
                            <a data-id="3100701" href="javascript:void(0)">

                                Douglas

                            </a>
                        </li>
                        <li>
                            <a data-id="3100479" href="javascript:void(0)">

                                Fraserburg

                            </a>
                        </li>
                        <li>
                            <a data-id="3100665" href="javascript:void(0)">

                                Garies

                            </a>
                        </li>
                        <li>
                            <a data-id="3100666" href="javascript:void(0)">

                                Griekwastad

                            </a>
                        </li>
                        <li>
                            <a data-id="3100667" href="javascript:void(0)">

                                Groblershoop

                            </a>
                        </li>
                        <li>
                            <a data-id="3100487" href="javascript:void(0)">

                                Hartswater

                            </a>
                        </li>
                        <li>
                            <a data-id="3100488" href="javascript:void(0)">

                                Jan Kempdorp

                            </a>
                        </li>
                        <li>
                            <a data-id="3100781" href="javascript:void(0)">

                                Kakamas

                            </a>
                        </li>
                        <li>
                            <a data-id="3100668" href="javascript:void(0)">

                                Kathu

                            </a>
                        </li>
                        <li>
                            <a data-id="3100498" href="javascript:void(0)">

                                Keimoes

                            </a>
                        </li>
                        <li>
                            <a data-id="3100489" href="javascript:void(0)">

                                Kimberley

                            </a>
                        </li>
                        <li>
                            <a data-id="3100492" href="javascript:void(0)">

                                Kuruman

                            </a>
                        </li>
                        <li>
                            <a data-id="3100669" href="javascript:void(0)">

                                Mier

                            </a>
                        </li>
                        <li>
                            <a data-id="3100602" href="javascript:void(0)">

                                Other Northern Cape

                            </a>
                        </li>
                        <li>
                            <a data-id="3100670" href="javascript:void(0)">

                                Pampierstad

                            </a>
                        </li>
                        <li>
                            <a data-id="3100499" href="javascript:void(0)">

                                Pofadder

                            </a>
                        </li>
                        <li>
                            <a data-id="3100671" href="javascript:void(0)">

                                Port Nolloth

                            </a>
                        </li>
                        <li>
                            <a data-id="3100500" href="javascript:void(0)">

                                Postmasburg

                            </a>
                        </li>
                        <li>
                            <a data-id="3100672" href="javascript:void(0)">

                                Prieska

                            </a>
                        </li>
                        <li>
                            <a data-id="3100673" href="javascript:void(0)">

                                Ritchie

                            </a>
                        </li>
                        <li>
                            <a data-id="3100495" href="javascript:void(0)">

                                Springbok

                            </a>
                        </li>
                        <li>
                            <a data-id="3100674" href="javascript:void(0)">

                                Strydenburg

                            </a>
                        </li>
                        <li>
                            <a data-id="3100480" href="javascript:void(0)">

                                Sutherland

                            </a>
                        </li>
                        <li>
                            <a data-id="3100501" href="javascript:void(0)">

                                Upington

                            </a>
                        </li>
                        <li>
                            <a data-id="3100675" href="javascript:void(0)">

                                Vanderkloof

                            </a>
                        </li>
                        <li>
                            <a data-id="3100484" href="javascript:void(0)">

                                Victoria West

                            </a>
                        </li>
                        <li>
                            <a data-id="3100676" href="javascript:void(0)">

                                Warrenton

                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a data-id="3100231" href="javascript:void(0)">

                    North West
                    <span class="fticon-right-arrow"></span>
                </a>
                <div class="panel"><a class="panel-title" data-id="3100231" href="javascript:void(0)">North West</a>
                    <ul class="size-l">
                        <li>
                            <a data-id="3100503" href="javascript:void(0)">

                                Bloemhof

                            </a>
                        </li>
                        <li>
                            <a data-id="3100524" href="javascript:void(0)">

                                Bray

                            </a>
                        </li>
                        <li>
                            <a data-id="3100517" href="javascript:void(0)">

                                Brits

                            </a>
                        </li>
                        <li>
                            <a data-id="3100504" href="javascript:void(0)">

                                Christiana

                            </a>
                        </li>
                        <li>
                            <a data-id="3100512" href="javascript:void(0)">

                                Delareyville

                            </a>
                        </li>
                        <li>
                            <a data-id="3100692" href="javascript:void(0)">

                                Fochville

                            </a>
                        </li>
                        <li>
                            <a data-id="3100518" href="javascript:void(0)">

                                Hartbeespoort

                            </a>
                        </li>
                        <li>
                            <a data-id="3100505" href="javascript:void(0)">

                                Klerksdorp

                            </a>
                        </li>
                        <li>
                            <a data-id="3100519" href="javascript:void(0)">

                                Koster

                            </a>
                        </li>
                        <li>
                            <a data-id="3100513" href="javascript:void(0)">

                                Lichtenburg

                            </a>
                        </li>
                        <li>
                            <a data-id="3100520" href="javascript:void(0)">

                                Mabopane

                            </a>
                        </li>
                        <li>
                            <a data-id="3100522" href="javascript:void(0)">

                                Magaliesburg

                            </a>
                        </li>
                        <li>
                            <a data-id="3100514" href="javascript:void(0)">

                                Mahikeng / Mafikeng

                            </a>
                        </li>
                        <li>
                            <a data-id="3100659" href="javascript:void(0)">

                                Mmbatho

                            </a>
                        </li>
                        <li>
                            <a data-id="3100660" href="javascript:void(0)">

                                Mogwase

                            </a>
                        </li>
                        <li>
                            <a data-id="3100661" href="javascript:void(0)">

                                Mothibistad

                            </a>
                        </li>
                        <li>
                            <a data-id="3100506" href="javascript:void(0)">

                                Orkney

                            </a>
                        </li>
                        <li>
                            <a data-id="3100603" href="javascript:void(0)">

                                Other North West

                            </a>
                        </li>
                        <li>
                            <a data-id="3100693" href="javascript:void(0)">

                                Ottosdal / Letsopa

                            </a>
                        </li>
                        <li>
                            <a data-id="3100662" href="javascript:void(0)">

                                Pomfret

                            </a>
                        </li>
                        <li>
                            <a data-id="3100507" href="javascript:void(0)">

                                Potchefstroom

                            </a>
                        </li>
                        <li>
                            <a data-id="3100663" href="javascript:void(0)">

                                Reivilo

                            </a>
                        </li>
                        <li>
                            <a data-id="3100521" href="javascript:void(0)">

                                Rustenburg

                            </a>
                        </li>
                        <li>
                            <a data-id="3100525" href="javascript:void(0)">

                                Schweizer-Reneke

                            </a>
                        </li>
                        <li>
                            <a data-id="3100526" href="javascript:void(0)">

                                Stella

                            </a>
                        </li>
                        <li>
                            <a data-id="3100508" href="javascript:void(0)">

                                Stilfontein

                            </a>
                        </li>
                        <li>
                            <a data-id="3100509" href="javascript:void(0)">

                                Ventersdorp

                            </a>
                        </li>
                        <li>
                            <a data-id="3100527" href="javascript:void(0)">

                                Vryburg

                            </a>
                        </li>
                        <li>
                            <a data-id="3100510" href="javascript:void(0)">

                                Wolmaransstad

                            </a>
                        </li>
                        <li>
                            <a data-id="3100515" href="javascript:void(0)">

                                Zeerust

                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a data-id="3100001" href="javascript:void(0)">

                    Western Cape
                    <span class="fticon-right-arrow"></span>
                </a>
                <div class="panel"><a class="panel-title" data-id="3100001" href="javascript:void(0)">Western Cape</a>
                    <ul class="size-m">
                        <li>
                            <a data-id="3100005" href="javascript:void(0)">

                                Atlantic Seaboard

                            </a>
                        </li>
                        <li>
                            <a data-id="3100261" href="javascript:void(0)">

                                Cape Flats

                            </a>
                        </li>
                        <li>
                            <a data-id="3100006" href="javascript:void(0)">

                                Cape Town

                            </a>
                        </li>
                        <li>
                            <a data-id="3100240" href="javascript:void(0)">

                                Cape Winelands

                            </a>
                        </li>
                        <li>
                            <a data-id="3100243" href="javascript:void(0)">

                                Central Karoo

                            </a>
                        </li>
                        <li>
                            <a data-id="3100241" href="javascript:void(0)">

                                Eden

                            </a>
                        </li>
                        <li>
                            <a data-id="3100209" href="javascript:void(0)">

                                Helderberg

                            </a>
                        </li>
                        <li>
                            <a data-id="3100007" href="javascript:void(0)">

                                Northern Suburbs

                            </a>
                        </li>
                        <li>
                            <a data-id="3100245" href="javascript:void(0)">

                                Overberg

                            </a>
                        </li>
                        <li>
                            <a data-id="3100009" href="javascript:void(0)">

                                Southern Peninsula

                            </a>
                        </li>
                        <li>
                            <a data-id="3100008" href="javascript:void(0)">

                                Southern Suburbs

                            </a>
                        </li>
                        <li>
                            <a data-id="3100010" href="javascript:void(0)">

                                West Coast

                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>