<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="search-bar">
    <select id="category-select">
        <option value="">All Categories</option>
        <optgroup label="Automotive Vehicles">
            <option value="Cars & Bakkies">Cars & Bakkies</option>
            <option value="Auto Parts & Accessories">Auto Parts & Accessories</option>
            <option value="Motorcycles & Scooters">Motorcycles & Scooters</option>
            <option value="Motorcycle Parts & Accessories">Motorcycle Parts & Accessories</option>
            <option value="Caravans & Trailers">Caravans & Trailers</option>
            <option value="Classic & Vintage Cars">Classic & Vintage Cars</option>
            <option value="Medium & Heavy Commercials">Medium & Heavy Commercials</option>
            <option value="Farm Vehicles & Equipment">Farm Vehicles & Equipment</option>
        </optgroup>
    </select>
    <input id="search-input" placeholder="Search..." type="text">
    <select id="category-select2">
        <option value="">All South Africa</option>
        <optgroup label="Eastern Cape">
            <option value="Adelaide">Adelaide</option>
            <option value="Alice">Alice</option>
            <option value="Aliwal North">Aliwal North</option>
            <option value="Barkly East">Barkly East</option>
        </optgroup>
    </select>
    <button id="search-btn">Search</button>
</div>
</body>
<script>
    $(document).ready(function () {
        // Search button click event
        $('#search-btn').click(function () {
            search();
        });

        // Search input enter key press event
        $('#search-input').keypress(function (e) {
            if (e.which == 13) {
                search();
            }
        });

        // Search function
        function search() {
            var query = $('#search-input').val();
            var category = $('#category-select').val();

            // Redirect to search results page with query and category parameters
            window.location.href = '/search?query=' + query + '&category=' + category;
        }
    });
</script>
</html>