<!DOCTYPE html>
<html lang="en">
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page Content Create Product</title>
</head>
<body>
<div class="page-content" th:fragment="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Add Product</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->
        <div class="row">
            <form enctype="multipart/form-data" method="post" th:action="@{/admin/products/create}"
                  th:object="${product}">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Overview</h4>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Name</label>
                                        <input class="form-control" maxlength="256" minlength="3" name="name"
                                               required th:field="*{name}" type="text">
                                        <span style="color: red;" th:errors="*{name}"
                                              th:if="${#fields.hasErrors('name')}"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Alias</label>
                                        <input class="form-control" maxlength="256" minlength="3"
                                               name="alias" th:field="*{alias}" type="text">
                                        <span style="color: red;" th:errors="*{alias}"
                                              th:if="${#fields.hasErrors('alias')}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Brand</label>
                                        <select aria-label="Default select example" class="form-select"
                                                id="brandId"
                                                name="brandId" required th:field="*{brand}">
                                            <option selected="" value="0">Select Brand</option>
                                            <option th:each="brand : ${brands}"
                                                    th:text="${brand.name}"
                                                    th:value="${brand.id}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Category</label>
                                        <select aria-label="Default select example" class="form-select"
                                                id="categoryId"
                                                name="categoryId" required th:field="*{category}">
                                            <option selected="" value="0">Select Category</option>
                                            <option th:each="category : ${categories}"
                                                    th:text="${category.name}"
                                                    th:value="${category.id}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Enabled</label>
                                        <input class="form-check-input" th:field="*{enabled}"
                                               type="checkbox">
                                        <span style="color: red;" th:errors="*{enabled}"
                                              th:if="${#fields.hasErrors('enabled')}"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">In-Stock</label>
                                        <input class="form-check-input" th:field="*{inStock}"
                                               type="checkbox">
                                        <span style="color: red;" th:errors="*{inStock}"
                                              th:if="${#fields.hasErrors('inStock')}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Cost</label>
                                        <input class="form-control" min="0" name="cost"
                                               required step="0.01" th:field="*{cost}"
                                               type="number">
                                        <span style="color: red;" th:errors="*{cost}"
                                              th:if="${#fields.hasErrors('cost')}"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Discount</label>
                                        <input class="form-control" max="100" min="0"
                                               name="discountPercent" step="0.01" th:field="*{discountPercent}"
                                               type="number">
                                        <span style="color: red;" th:errors="*{discountPercent}"
                                              th:if="${#fields.hasErrors('discountPercent')}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Short Description</h4>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <textarea class="form-control" maxlength="500" minlength="3"
                                                  name="shortDescription" required
                                                  th:field="*{shortDescription}"></textarea>
                                        <span style="color: red;" th:errors="*{shortDescription}"
                                              th:if="${#fields.hasErrors('shortDescription')}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Full Description</h4>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <textarea id="elm1" minlength="3" name="fullDescription"
                                                  th:field="*{fullDescription}"></textarea>
                                        <span style="color: red;" th:errors="*{fullDescription}"
                                              th:if="${#fields.hasErrors('fullDescription')}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Images</h4>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Photo: </label>
                                <div class="col-sm-10">
                                    <input accept="image/*" class="form-control" id="photo" name="photo" type="file">
                                    <span style="color: red;" th:errors="*{photo}"
                                          th:if="${#fields.hasErrors('photo')}"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label"> </label>
                                <div class="col-sm-10">
                                    <img alt="Card image cap" class="rounded avatar-lg" height="100" id="showPhoto"
                                         th:src="@{/upload/no_image.jpg}" width="100">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Details</h4>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Shipping</h4>
                            <p class="card-title-desc">The following information is important to calculate shipping cost
                                for the product. The dimensions (L x W x H) is for the box that is used to package the
                                product - not the product´s dimensions.</p>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Length</label>
                                        <input class="form-control" min="0" name="length"
                                               required step="0.01" th:field="*{length}"
                                               type="number">
                                        <span style="color: red;" th:errors="*{length}"
                                              th:if="${#fields.hasErrors('length')}"></span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Width</label>
                                        <input class="form-control" max="100" min="0"
                                               name="width" step="0.01" th:field="*{width}"
                                               type="number">
                                        <span style="color: red;" th:errors="*{width}"
                                              th:if="${#fields.hasErrors('width')}"></span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Height</label>
                                        <input class="form-control" max="100" min="0"
                                               name="height" step="0.01" th:field="*{height}"
                                               type="number">
                                        <span style="color: red;" th:errors="*{height}"
                                              th:if="${#fields.hasErrors('height')}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end col -->
                <div class="card">
                    <div class="card-body">
                        <input class="btn btn-info waves-effect waves-light" type="submit" value="Add Product">
                        <input class="btn btn-secondary" id="buttonCancelCreateProduct" type="button" value="Cancel"/>
                    </div>
                </div>

            </form>
        </div>
    </div> <!-- container-fluid -->
</div>
</body>
</html>



