<!DOCTYPE html>
<html lang="en">
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page Content Create Product</title>
</head>
<body>
<div class="page-content" th:fragment="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Add Product</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->
        <div class="row">
            <form enctype="multipart/form-data" method="post" th:action="@{/admin/products/save}"
                  th:object="${product}">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Overview</h4>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Name</label>
                                        <input class="form-control" maxlength="256" minlength="3" name="name"
                                               required th:field="*{name}" type="text">
                                        <span style="color: red;" th:errors="*{name}"
                                              th:if="${#fields.hasErrors('name')}"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Alias</label>
                                        <input class="form-control" maxlength="256" minlength="3"
                                               name="alias" th:field="*{alias}" type="text">
                                        <span style="color: red;" th:errors="*{alias}"
                                              th:if="${#fields.hasErrors('alias')}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Brand</label>
                                        <select aria-label="Default select example" class="form-select"
                                                id="brandId"
                                                name="brandId" required th:field="*{brand}">
                                            <option selected="" value="0">Select Brand</option>
                                            <option th:each="brand : ${brands}"
                                                    th:text="${brand.name}"
                                                    th:value="${brand.id}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Category</label>
                                        <select aria-label="Default select example" class="form-select"
                                                id="categoryId"
                                                name="categoryId" required th:field="*{category}">
                                            <option selected="" value="0">Select Category</option>
                                            <option th:each="category : ${categories}"
                                                    th:text="${category.name}"
                                                    th:value="${category.id}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Enabled</label>
                                        <input class="form-check-input" th:field="*{enabled}"
                                               type="checkbox">
                                        <span style="color: red;" th:errors="*{enabled}"
                                              th:if="${#fields.hasErrors('enabled')}"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">In-Stock</label>
                                        <input class="form-check-input" th:field="*{inStock}"
                                               type="checkbox">
                                        <span style="color: red;" th:errors="*{inStock}"
                                              th:if="${#fields.hasErrors('inStock')}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Cost</label>
                                        <input class="form-control" min="0" name="cost"
                                               required step="0.01" th:field="*{cost}"
                                               type="number">
                                        <span style="color: red;" th:errors="*{cost}"
                                              th:if="${#fields.hasErrors('cost')}"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Discount</label>
                                        <input class="form-control" max="100" min="0"
                                               name="discountPercent" step="0.01" th:field="*{discountPercent}"
                                               type="number">
                                        <span style="color: red;" th:errors="*{discountPercent}"
                                              th:if="${#fields.hasErrors('discountPercent')}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Short Description</h4>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <input class="form-control" maxlength="500" minlength="3"
                                               name="shortDescription"
                                               required th:field="*{shortDescription}" type="text">
                                        <span style="color: red;" th:errors="*{shortDescription}"
                                              th:if="${#fields.hasErrors('shortDescription')}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Full Description</h4>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <textarea id="elm1" maxlength="2000" minlength="3" name="fullDescription"
                                                  th:field="*{fullDescription}"></textarea>
                                        <span style="color: red;" th:errors="*{fullDescription}"
                                              th:if="${#fields.hasErrors('fullDescription')}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Images</h4>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Details</h4>
                        </div>
                    </div>
                </div> <!-- end col -->
            </form>
        </div>
    </div> <!-- container-fluid -->
</div>
</body>
</html>



