<!DOCTYPE html>
<html lang="en">
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page Content Edit Category</title>
</head>
<body>
<div class="page-content" th:fragment="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Edit Category</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form enctype="multipart/form-data" method="post" th:action="@{/admin/categories/edit}"
                              th:object="${category}">
                            <input name="id" th:value="*{id}" type="hidden">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Name </label>
                                <div class="col-sm-10">
                                    <input class="form-control" name="name" required th:field="*{name}" type="text">
                                    <span style="color: red;" th:errors="*{name}"
                                          th:if="${#fields.hasErrors('name')}"></span>
                                </div>
                            </div>
                            <!-- end row -->
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Alias </label>
                                <div class="col-sm-10">
                                    <input class="form-control" name="alias" th:field="*{alias}" type="text">
                                    <span style="color: red;" th:errors="*{alias}"
                                          th:if="${#fields.hasErrors('alias')}"></span>
                                </div>
                            </div>
                            <!-- end row -->
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Enabled </label>
                                <div class="col-sm-10">
                                    <input th:field="*{enabled}" type="checkbox"/>
                                    <span style="color: red;" th:errors="*{enabled}"
                                          th:if="${#fields.hasErrors('enabled')}"></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Select Parent Category</label>
                                <select aria-label="Default select example" class="form-select" id="categoryId"
                                        name="categoryId" th:field="*{parent}">
                                    <option selected="" value="0">[No Parent]</option>
                                    <!--                                    <option th:each="category : ${categories}" th:value="${category.id}"-->
                                    <!--                                            th:text="${category.name}"></option>-->
                                    <th:block th:each="category : ${categories}">
                                        <option th:text="${category.name}" th:value="${category.id}"></option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Photo </label>
                                <div class="col-sm-10">
                                    <input accept="image/*" class="form-control" id="image" name="image" type="file">
                                    <span style="color: red;" th:errors="*{photo}"
                                          th:if="${#fields.hasErrors('photo')}"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label"> </label>
                                <div class="col-sm-10">
                                    <img class="rounded avatar-lg" id="showImage" th:src="@{${category.getImagePath}}">
                                </div>
                            </div>
                            <!-- end row -->
                            <input class="btn btn-info waves-effect waves-light" type="submit" value="Edit Category">
                            <input class="btn btn-secondary" id="buttonCancelCreateCategory" type="button"
                                   value="Cancel"/>
                        </form>
                    </div>
                </div>
            </div> <!-- end col -->
        </div>
    </div> <!-- container-fluid -->
</div>
</body>
</html>



