<html xmlns:th="http://www.thymeleaf.org">
<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Users All</h4>
                </div>
                <div th:class="${message.cssClass} + ' alert-dismissible fade show'" th:if="${message != null}">
                    [[${message.content}]]
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a class="btn btn-dark btn-rounded waves-effect waves-light" style="float:right;" th:href="@{/admin/users/create-form}">Add
                            User</a>
                        <br> <br>
                        <table class="table table-bordered dt-responsive nowrap" id="datatable"
                               style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Photos</th>
                                <th>E-mail</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Roles</th>
                                <th>Enabled</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user,count : ${users}">
                                <td>[[${count.index + 1}]]</td>
                                <td><span class="fas fa-portrait fa-3x icon-silver"></span></td>
                                <td>[[${user.email}]]</td>
                                <td>[[${user.firstName}]]</td>
                                <td>[[${user.lastName}]]</td>
                                <td>[[${user.roles}]]</td>
                                <!--                <td>-->
                                <!--                    <span th:each="role : ${user.roles}" th:text="${role.name} + ' '"></span>-->
                                <!--                </td>-->
                                <td>
                                    <a class="fas fa-check-circle fa-2x icon-green" style="color: green" th:if="${user.enabled == true}"></a>
                                    <a class="fas fa-check-circle fa-2x icon-dark" style="color: grey" th:if="${user.enabled == false}"></a>
                                </td>

                                <td>
                                    <a class="btn btn-info sm" th:href="@{'/admin/users/edit-form/'+${user.id}}" title="Edit User"> <i
                                            class="fas fa-edit"></i> </a>
                                    <a class="btn btn-danger sm" id="delete" th:href="@{'/admin/users/delete/'+${user.id}}" title="Delete Data"> <i
                                            class="fas fa-trash-alt"></i> </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->

    </div> <!-- container-fluid -->
</div>
